/* frontendmentor attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*-------------------*/
/* Custom Properties */
/*-------------------*/

:root {
  /* colors */
  --clr-dark-blue: 233, 47%, 7%;
  --clr-light-blue: 244, 38%, 16%;
  --clr-accent: 277, 64%, 61%;

  /* font-sizes */
  --fs-800: 1.5rem;
  --fs-400: 0.9375rem;

  /* font families */
  --ff-sans-title: "Inter", sans-serif;
  --ff-sans-body: "Lexend Deca", sans-serif;
}

@media screen and (min-width: 35em) {
  :root {
    --fs-800: 2.5rem;
  }
}

/*-----------*/
/* Reset     */
/*-----------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-sans-body);
  background-color: hsl(var(--clr-dark-blue));
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin-block: 1rem;
  min-height: 100vh;

  display: grid;
  place-items: center;
  margin-inline: max(1.5rem, 6%);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img {
  width: 100%;
  display: block;
}
/*-----------------*/
/* Utility Classes */
/*-----------------*/

/* colors */

.bg-dark-blue {
  background-color: hsl(var(--clr-dark-blue));
}
.bg-light-blue {
  background-color: hsl(var(--clr-light-blue));
}
.bg-accent {
  background-color: hsl(var(--clr-accent));
}

.text-dark-blue {
  color: hsl(var(--clr-dark-blue));
}
.text-light-blue {
  color: hsl(var(--clr-light-blue));
}
.text-accent {
  color: hsl(var(--clr-accent));
}

.text-opacity {
  opacity: 0.65;
}

/* typography */

.text-uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-400 {
  font-size: var(--fs-400);
}

.ff-sans-title {
  font-family: var(--ff-sans-title);
}
.ff-sans-body {
  font-family: var(--ff-sans-body);
}

/* general */

.grid {
  display: grid;
  row-gap: var(--row-gap, 1rem);
}

.d-block {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 40rem) minmax(1rem, 1fr);
  grid-template-areas:
    "img img img"
    ". title ."
    ". body ."
    ". meta .";
}

/*-----------------*/
/* Layout          */
/*-----------------*/

.stats-card {
  text-align: center;
  max-width: 70rem;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card-title {
  grid-area: title;
  margin-top: 1.5em;
  line-height: 1.3;
}

.card-body {
  grid-area: body;
  margin-top: 1em;
}

.card-meta {
  grid-area: meta;
  margin-top: 2em;
  margin-bottom: 2em;
  --row-gap: 1em;
}

.card-img {
  grid-area: img;
  object-fit: cover;
  height: 100%;
}

@media screen and (min-width: 45em) {
  .grid-container {
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
        1rem,
        1fr
      );
    column-gap: 3.5%;
    grid-template-areas:
      ". title img img"
      ". body img img"
      ". meta img img";
  }
  .stats-card {
    text-align: left;
  }
  .card-body {
    margin-top: 0.5em;
  }
  .card-meta {
    grid-auto-flow: column;
  }
  .card-img {
    content: url(images/image-header-desktop.jpg);
  }
}
